$gray: #CCC;
$blue: $primary;
$yellow: #FFC334;
$red: #E53030;
$green: #0EC518;

@mixin round-button($baseColor:$gray, $hoverBaseColor:#333, $diameter:5vw) {
  background: $baseColor;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 -2px 0 3px darken($baseColor, 10%) inset, 0 5px 5px rgba(darken($baseColor, 40%), 0.17), 0 15px rgba(#fff, 0.25) inset;
  cursor: pointer;
  display: inline-block;
  height: $diameter;
  width: $diameter;

  &:hover {
    background: $hoverBaseColor;
    box-shadow: 0 -2px 0 3px darken($hoverBaseColor, 10%) inset, 0 5px 5px rgba(darken($hoverBaseColor, 40%), 0.17), 0 15px rgba(#fff, 0.32) inset;
  }
}

.btn{
  @include round-button;
  &--blue{
    @include round-button($blue);
  }
  &--red{
    @include round-button($red);
  }
  &--green{
    @include round-button($green);
  }
  &--yellow{
    @include round-button($yellow);
  }
}
